header {
    background: #fdf8f4;
    width: 100%;
    padding: 10px 0;
}

.search-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 101;
}

/* Qara Ekran */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    z-index: 2000;
}

.search-overlay.active {
    visibility: visible;
    opacity: 1;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 101;
}

/* Sidebar */
.logo-bar {
    display: none;
    margin-left: 30px;
    width: 80%;
    height: 150px;
    background: url('../../img/home/logo-bar.png') center/contain no-repeat;
    margin-top: 65px;
}

.sidebar.active .logo-bar {
    display: block;
}

.sidebar {

    background: #1a1a1a;
    z-index: 999;
    background: url('../../img/home/logo-bar.png') center/cover no-repeat;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;
    z-index: 1000;
}

.sidebar.active {
    right: 0;
}

.social-icons {
    display: flex;
    gap: 4px;
    justify-content: start;
    margin-top: auto;
}

.social-icons a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff6f61;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}


.search-box {
    width: 80%;
    color: #fff;
}

.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
}


#navbar .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar .logo img {
    height: 50px;
    cursor: pointer;
}

#navbar {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submenu {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 11px 0px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: top;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    top: 100%;
    text-align: left;
    background: rgb(255, 255, 255);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.dropdown:hover .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}


.submenu li a {
    padding: 10px 20px;
    display: block;
    color: #000;
    white-space: nowrap;
}

.submenu-shop {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 11px 0px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: top;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    top: 100%;
    text-align: left;
    background: rgb(255, 255, 255);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.dropdown-shop:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
    display: block;
}

.submenu-shop li {
    padding: 10px 20px;
}

.submenu-shop li a {
    color: black;
    text-decoration: none;
    display: block;
}

.submenu-shop li a:hover {
    color: #f39829;
}

#navbar .main-menu ul {
    display: flex;
    gap: 90px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar .main-menu ul li {
    position: relative;
    font-weight: bold;
}

#navbar .main-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#navbar .main-menu ul li i {
    margin-left: 5px;
    font-size: 12px;
}

#navbar .main-action {
    display: flex;
    align-items: center;
    gap: 30px;
}

#navbar .main-action div {
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

#navbar .main-action div sub {
    position: absolute;
    bottom: -5px;
    right: -8px;
    background: #d89544;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#navbar .menu-bar {
    background: rgba(236, 232, 232, 0.2);
    padding: 10px;
    border-radius: 50%;

}

#navbar .main-action .favorite:hover {
    color: #f39829;
    transition: all 0.9s;
}

#navbar .main-action .search:hover {
    color: #f39829;
    transition: all 0.9s;
}

#navbar .main-action .basket:hover {
    color: #f39829;
    transition: all 0.9s;
}

#navbar .menu-bar:hover {
    background-color: white;
    color: #f39829;
    border-radius: 50%;
}

@media only screen and (max-width: 1060px) {
    .main-menu {
        display: none;
    }

    .main-action {
        display: flex;
        gap: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        flex-direction: column;
    }
}


/* firstphoto */

#background-section {
    background-image: url('../../img/about/about-1.png'); 
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white; 
    margin-top: 30px;
}
#background-section .home{
    font-size: 16px;
    cursor: pointer;
}
#background-section .home:hover{
color: orange;
transition: all 0.9s;
}
#background-section .blog{
    font-size: 16px;
    color: #f39829;
    cursor: pointer;
}

/* blogsection */


#blog-section {
    text-align: center;
    padding: 30px;
    /* background: #f9f9f9; */
    margin-top: 50px;
}

.blog-card {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-entry {
    background: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: left;
    max-width: 350px;
    transition: transform 0.3s ease;
}

.blog-entry img:hover {
    transform: scale(1.00052) rotate(0.00524279deg)
}

.blog-date {
    color: #d18b46;
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.blog-entry img {
    width: 100%;
    margin-bottom: 15px;
    transition: transform 0.8s ease;
}
.blog-entry img:hover {
  transform: scale(1.05);
}

.blog-entry p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 15px;
}

.blog-entry .read-more:hover {
    color: orange
}

.read-more {
    background: none;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.read-more:hover {
    color: black;
    border: 1px solid orange;

}

.read-more::after {
    content: "➜";
    font-size: 16px;
}



/* pagination */

#pagination-section .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}
#pagination-section .pagination li {
    margin: 0 5px;
}
#pagination-section .pagination a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
#pagination-section .pagination a.active {
    background-color: #f4a261;
    color: white;
}


/* instagram  */

#instagram-section {
    /* padding: 40px; */
    background-color: #ffffff;
    text-align: center;
}

#instagram-section h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.instagram-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-wrapper {
    position: relative;
    width: 235px;
    height: 235px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 2em;
    color: #000;
}


/* footer */

#footer {
    background: #f1f1f1;
    padding: 40px 0;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-content {
    margin-top: 27px;
}

.footer-section {
    width: 22%;
}

.logo-section {
    width: 30%;
}

.logo h2 {
    color: #d48c2a;
}

.logo p {
    font-style: italic;
    color: #333;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section ul li a:hover {
    color: #d18b46;
    transition: all 0.5s;

}


.social-iconss a {
    margin-right: 10px;
    font-size: 18px;
}

.footer-section .social-iconss a :hover {
    color: #d18b46;
    transition: all 0.5s;
}

.newsletter input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


.newsletter button {
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: black;
    color: white;
    margin-top: 77px;
}

.footer-bottom span {
    color: #d18b46;
}

.footer-bottom .copyright {
    margin-left: 10px;
}

.payment-icons img {
    max-width: 100%;
    height: auto;
    margin-right: 15px;
}


.social-iconss i {
    color: black;
}

.container,
.footer-content,
.footer-bottom {
    margin: 0 auto;
}


#banner {
    position: relative;
    width: 98.7vw; 
    overflow: hidden; 
  }
  

  #banner .banner-image {
    width: 100vw; 
    height: auto; 
    object-fit: cover; 
    margin: 0;
  }
  
  
  #banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  #banner .banner-text h1 {
    font-size: 20px;
    color: orange;
    margin: 0;
  }
  
  #banner .banner-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  #banner .banner-text p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  #banner .banner-text button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
